        <head>
        <meta charset="utf-8">
        <center>
            <img src={{ header_graphic }}>
            <title style="color:#D8D8D8">
            WICAT - Web Interface to Common ACI Tasks</title>
        </center>
        </head>

        <body>
            <center>
            <style>
                body {background-color:#000000;}
                br {style-color:#D8D8D8"}
            </style>
            </center>
            <br>

            <center>

            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/enter_creds">APIC Login</a></li>
                <li><a href="#">Fabric Info</a>
                    <ul>
                    <li><a href="/appHealth">Application Health</a></li>
                    <li><a href="/tenants">Tenants</a></li>
                    <li><a href="/vrfs">VRFs</a></li>
                    <li><a href="/subnets">Subnets</a></li>
                    <li><a href="/epgs">End Point Groups (EPGs)</a></li>
                    <li><a href="/servers">All Servers in the system</a></li>
                    <li><a href="/contracts">Contracts</a></li>
                    <li><a href="/interfaces">Interfaces on Leaves</a></li>
                    <li><a href="/nodes">Network Nodes</a></li>
                    </ul>
                </li>
                <li><a href="#">Search Fabric</a>
                    <ul>
                    <li><a href="/search_host">Endpoint Details</a></li>
                    <li><a href="/search_contract">Contract Details</a></li>
                    </ul>
                </li>
            </ul>
            </center>
