<body>
    <div class="container">
    <h3 class="ReportTitle">Switch Interfaces</h3>
<br>
<table  id="example" class="display" class="BottomTable">        
        <thead>
        <tr>
            <th>Switch Profile</th>
            <th>Interface Profile</th>
            <th>Port Name</th>
            <th>Port(s)</th>
            <th>Policy Group</th>
        </tr>
        </thead>

        {% for record in records %}
        <tr>
            <td>{{ record[1] }}</td>
            <td>{{ record[0] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>{{ record[4] }}</td>
        </tr>
        {% endfor %}
</table>
</div>
